.git
.gitignore
.env
.env.local
node_modules
vendor
storage/app
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
storage/framework/repair
public/storage
public/hot
*.sqlite
database/database.sqlite
.pnpm-store
npm-debug*
.DS_Store
backup/
